body{font-family:Arial;background:#f5f5f5;}
.container{width:50%;margin:auto;background:white;padding:20px;margin-top:40px;border-radius:8px;}
table{margin:auto;width:80%;border-collapse:collapse;background:white;}
table th,table td{border:1px solid #ddd;padding:10px;}
table th{background:#007bff;color:white;}
a{font-size:18px;}